<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fenghaogoxiangmu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.own.acivity.SiteActivity" />
        <activity android:name=".ui.shopping.activitys.SubmitActivity" />
        <activity android:name=".ui.own.auth.activity.RegisterActivity" />
        <activity android:name=".ui.own.auth.activity.LoginActivity" />
        <activity android:name=".ui.home.activitys.HomeTopicActivity" />
        <activity android:name=".ui.home.activitys.HomeNewActivity" />
        <activity android:name=".ui.home.activitys.HomeHotActivity" />
        <activity android:name=".ui.home.activitys.HomeBannerActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".test.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>